<div class="flex-container">
  <div>
    <div class="t1">
      <img class="img1" src="/assets/gmail.png" alt="Mail" />
      <p class="p1">IvyUniversity@gmail.com</p>
    </div>
    <div class="t1">
      <img class="img1" src="/assets/twitter.png" alt="Twitter" />
      <p class="p1">IvyUniversity_twitter</p>
    </div>
    <div class="t1">
      <img class="img1" src="/assets/facebook.png" alt="fb" />
      <p class="p1">IvyUniversity_fb</p>
    </div>
    <div class="t1">
      <img class="img1" src="/assets/instagram.png" alt="Intagram" />
      <p class="p1">Ivy_University</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
