<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
      <a class="navbar-brand text-light" routerLink="/"
        ><i class="fa-sharp fa-solid fa-building-columns"></i>University</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-8 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active text-light"
              aria-current="page"
              routerLink="/home"
            >
              <i class="fa-solid fa-house-chimney"></i>Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active text-light"
              aria-current="page"
              routerLink="/about"
              ><i class="fa-solid fa-address-card"></i>About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active text-light"
              aria-current="page"
              routerLink="/contact"
              ><i class="fa-solid fa-phone"></i>Contact</a
            >
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button
            class="btn btn-default text-light"
            routerLink="/"
            type="submit"
          >
            Logout
          </button>
        </form>
      </div>
    </nav>
  </header>
 
</body>
 
