.nav-item {
    padding-left: 85px;
}
nav {

    a {
        margin: auto 3rem ;
        i[class *= "fa-"] {
            margin-right: 0.8rem;
        }
    }   
}
.btn
{
    background-color: rgb(33, 31, 63);
}