<div class="flex-container">
  <div class="t1">
    <img class="img1" src="/assets/idea.png" alt="Knowlegde" />
    <h3 class="c1">How we teach</h3>
    <p class="p1">
      Have a good teaching qualification: one in which you have been challenged
      to develop and rationalise the how and why of what you do as a teacher,
      and in which your conception of teaching and learning has been discussed
      and deeply thought about
    </p>
  </div>

  <div class="t1">
    <img class="img1" src="/assets/medal.png" alt="Results" />
    <h3 class="c1">Results</h3>
    <p class="p1">
      University Rank List 2023 contains the Rank of the top students who scored
      the highest marks. All the candidates can check the MS University Rank
      List 2023
    </p>
  </div>

  <div class="t1">
    <img class="img1" src="/assets/graduation.png" alt="Placements" />
    <h3 class="c1">Placements</h3>
    <p class="p1">
      As per the latest report, the highest package offered during 2022
      placements was INR 26.10 LPA.The University attracted over 600 industry
      giants for the 2022 placements who offered more than 6,000 job roles to
      the students across sectors like ITFinance. The top recruiters of Alliance
      University in 2022 included Google,IBM etc.
    </p>
  </div>

  <div class="t1">
    <img class="img1" src="/assets/help.png" alt="Support" />
    <h3 class="c1">Support</h3>
    <p class="p1">
      If you Have any Queries Please feel free to contact to us with your
      feedback or suggestion,so that one of our representatives can get in touch
      with you
    </p>
  </div>
</div>

<router-outlet></router-outlet>
